div.settings
    h3 Static urls
    div.urlForm()
        input(class="ip" type="url" placeholder="example.local")
        input(class="port" type="number" placeholder="9999")
        button(hx-get="/component/url"
            hx-target="closest div"
            hx-swap="outerHTML") Add
    h3 Scaner Range 
    div(hx-get="/component/ipRange"
        hx-trigger="load"
        hx-swap="outerHTML")
