// Vars
$base-colour: #3b5197;
$accent-colour: #f8f8f8;

//Animation
//scource https://stackoverflow.com/questions/6410730/css-endless-rotation-animation
@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body {
    margin: 0;

    #top-bar {
        background-color: $base-colour;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 0 0 5px 5px;

        button {
            width: 50px;
            font-size: 30px;
            border: none;
            background-color: #00000000;
        }

        button:hover {
            transform: scale(1.1, 1.1);
            animation: rotating 2s linear infinite;
        }
    }

    #settings {
        border: 1px solid rgb(201, 201, 201);
        border-radius: 5px;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.068);
        width: 400px;
        position: absolute;
        top: 55px;
        right: 5px;
        padding:15px;
        // display: none;

        h1 {
            margin-top: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        h3 {
            margin-bottom: 10px;
        }

        .rangeInput, .staticIp, .blacklist{
            display: flex;
        }

        .staticIp, .blacklist{
            input:nth-last-of-type(1){
                width: 35px;
            }
        }

        div {
            margin:0px 10px 10px 10px
        }
        p {
            margin: 0 5px;
            min-width: 25px;
            text-align: center;
        }
        input {
            width: 100px;
        }
        button {margin: 0 5px}
    }

    .tile {
        border: 1px solid rgb(201, 201, 201);
        border-radius: 5px;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.068);
        max-width: 250px;
        margin: 15px;
        padding: 10px;
        text-align: center;

        img { max-width: 150px;}
        h2{margin-bottom: 0;}
        p{color: rgba(0, 0, 0, 0.514);}
    }
}