doctype html
html(lang='en')
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Subnet Scanner
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/x-icon" src="assets/favicon.ico")
    link(rel='stylesheet', type='text/css', href="/styles.css")

body
    header
        nav
            h1.scanText Subnet Scanner
            h2(
                id="settingsBtn",
                hx-get="/component/settings",
                hx-target="nav",
                hx-swap="afterend"
            ) ⚙️
    main

    script(src='https://unpkg.com/htmx.org@1.9.10')
    script(src="https://unpkg.com/hyperscript.org@0.9.12")